Html {
  Font: size 62.5%; }
  Html body {
    background-color: #008891; }
    Html body h1 {
      font-size: 3.5em; }
    Html body h2 {
      font-size: 2.7em; }
    Html body h3 {
      font-size: 2em; }
    Html body p {
      font-size: 1.25em; }

.inicio {
  background: linear-gradient(rgba(0, 0, 0, 0.682), rgba(0, 0, 0, 0.103)), url("../pages/images/7H1A0807.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .inicio h1 p {
    font-size: 30px; }
  .inicio h1 a {
    background-color: #FFC93C;
    color: #008891;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px; }

.footer {
  background-color: #0F3057;
  color: #E7E7DE;
  padding: 10px; }

.contenedorMega {
  margin-top: 10px; }
  .contenedorMega .mega1 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    .contenedorMega .mega1 img {
      width: 100%;
      justify-content: space-between;
      padding-left: 5%;
      padding-bottom: 5%; }
  .contenedorMega .mega2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr; }
    .contenedorMega .mega2 .subMega2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-left: 5%;
      padding-bottom: 5%; }

.hero {
  width: 100%;
  height: 150vh;
  color: #E7E7DE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.682), rgba(0, 0, 0, 0.103)), url("../pages/images/7H1A0807.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.hero_convivencia h1 {
  font-size: 60px;
  font-weight: bold; }
  .hero_convivencia h1 p {
    font-size: 30px;
    margin-top: 20px; }
  .hero_convivencia h1 a {
    background-color: #FFC93C;
    color: #008891;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px; }

.contenedorXX {
  margin: 0 auto;
  max-width: 1200px; }

.sombra {
  padding: 2rem;
  margin-bottom: 3rem;
  background-color: white;
  -webkit-box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.63); }

.parrafoConvivencia {
  width: 300px;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat Alternates", sans-serif; }
  .parrafoConvivencia img {
    padding-left: 40px;
    font-family: "Montserrat Alternates", sans-serif; }

.subtitulo {
  text-align: center;
  justify-content: space-between;
  color: #E7E7DE;
  padding-bottom: 50px;
  font-family: "Montserrat Alternates", sans-serif;
  -webkit-box-shadow: inset -23px -1px 222px 25px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: inset -23px -1px 222px 25px rgba(0, 0, 0, 0.57);
  box-shadow: inset -23px -1px 222px 25px rgba(0, 0, 0, 0.57); }

.section__one {
  display: flex;
  margin-bottom: 40px; }
  .section__one div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%; }
    .section__one div h2 {
      color: #FFC93C;
      font-size: 30px;
      font-family: "Montserrat Alternates", sans-serif;
      display: flex;
      flex-direction: row;
      flex-direction: end; }
    .section__one div .titulo_parrafo {
      flex-direction: row;
      align-items: flex-end;
      font-family: "Montserrat Alternates", sans-serif;
      -webkit-box-shadow: inset -23px -1px 222px 25px rgba(0, 0, 0, 0.57);
      -moz-box-shadow: inset -23px -1px 222px 25px rgba(0, 0, 0, 0.57);
      box-shadow: inset -23px -1px 222px 25px rgba(0, 0, 0, 0.57);
      background-color: #7f898c;
      background-color: #b50daf;
      background-color: #0e6ec2; }
    .section__one div img {
      width: 300px;
      height: 300px;
      margin-left: 20px;
      margin-top: 20px;
      border: solid 1px; }

.section__two {
  display: flex;
  align-items: center;
  flex-direction: row-reverse; }
  .section__two div img {
    width: 400px;
    padding-right: 100px; }
