Html {
  Font: size 62.5%; }
  Html body {
    background-color: var(--fondo); }
    Html body h1 {
      font-size: 3.5em; }
    Html body h2 {
      font-size: 2.7em; }
    Html body h3 {
      font-size: 2em; }
    Html body p {
      font-size: 1.25em; }

/*Variables*/
ul {
  list-style-type: none; }
  ul li {
    padding: 15px;
    display: inline-block; }
    ul li a {
      text-decoration: none;
      font-size: 16px;
      color: #444; }

li {
  color: blue; }
  li:hover {
    color: pink; }

/*Variables*/
h1.title {
  font-size: normal 24px/1.5 "Open Sans", sans-serif;
  color: #F44336; }

div.container {
  color: #F44336; }

img {
  width: 200px; }
