// Variables
$fondoBoton: #FFC93C;
$colorDeFondo:  #008891;
$fontinicio: 30px;
$hoverX: width 100%;
$hoverY: height 150vh;
$textofondo: #E7E7DE;
$backgroundHover:linear-gradient(rgba(0, 0, 0, 0.682),rgba(0, 0, 0, 0.103)), url("../pages/images/7H1A0807.jpg");
$footer: #0F3057;
$width:100%;
Html{
    Font:size 62.5%;
        body {
            background-color: $colorDeFondo;
            h1 {
                font-size: 3.5em;
            }
            h2 {
                font-size: 2.7em;
            }
            h3 {
                font-size: 2em;
            }
            p {
                font-size: 1.25em;
            }}}
.inicio {
    background:$backgroundHover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    h1 {
            p {
                font-size: $fontinicio;}
            a {
                background-color:$fondoBoton;
                color: $colorDeFondo;
                font-size: $fontinicio;
                text-decoration: none;
                padding: 10px;
                border-radius: 10px;
                margin-top: 20px;
            }}}
.footer {
    background-color: $footer;
    color: $textofondo;
    padding: 10px;
}
.contenedorMega {
    margin-top: 10px;
        .mega1 {
            width: $width;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
                img {
                    width: $width;
                    justify-content: space-between;
                    padding-left: 5%;
                    padding-bottom: 5%;
                } 
        }
        .mega2 {
            width:$width;
            display: grid;
            grid-template-columns: 1fr 2fr;
                .subMega2 {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    padding-left: 5%;
                    padding-bottom: 5%;
                }}}